@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display.swap');
/* Kita butuh FontAwesome juga untuk ikon (Lonceng, Sosmed) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat bg-[#f4f4f4];
}